button{
    background-color: #F7A22B !important;
    border-color: #F7A22B !important;
}
#conheca {
    margin: auto;
    display: flex;
    justify-content: center;
}
#quem {
    margin: auto;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}
#quemquem{
    max-width: 50%;
    margin-left: 50px;
}
.foto{
    width:95px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.fotos{
    margin: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.integrantes{

    border:none;
    border-radius:20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 7rem;
    margin: 10px;
    font-size: 0.7em;
}
.passoApasso{

    border:none;
    border-radius:20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 18rem;
    margin: 10px;
    
}
.oqFazer{
    width:170px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:5px;
}
.body1{
    padding: 8px;
}

body{
    font-family: "Noto Sans";
}
h2{
    font-family: "Patua One";
}
@font-face {
    font-family: "Patua One";
    src: url(PatuaOne-Regular.ttf);
  }
