.btn{
    background-color: #F7A22B !important;
    border-color: #F7A22B !important;
}
#conheca {
    margin: auto;
    display: flex;
    justify-content: center;
}
#quem {
    margin: auto;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}
#quemquem{
    margin-left: 50px;
}
.card-image-top-p{
    width:95px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.fotos{
    margin: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
#comoFunciona{
    margin: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}
.card{

    border:none;
    border-radius:20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #f7f7f7 !important;
    
    
}
.card-g{
    width: 18rem;
    margin: 10px;
}
.card-p{
    width: 7rem;
    margin: 10px;
    font-size: 0.7em;
}
.card-img-top-g{
    width:170px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:5px;
}
.card-text{
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
}
.card-text a{
    font-size: 1rem;
    color: #0EA956;
    text-decoration: none;
}
.card-body-p{
    padding: 8px;
}

body{
    font-family: "Noto Sans";
    background-color: #f2f2f2 !important;
}
h1{
    font-family: "Patua One";
    margin-bottom: 1rem;
}
h2{
    font-family: "Patua One";
    margin-bottom: 24px;
}
@font-face {
    font-family: "Patua One";
    src: url(/fonts/PatuaOne-Regular.ttf);
  }
h5{
    font-family: "Patua One";
    color:#80C783;
}
label{
    font-family: "Patua One";
    color:#80C783;
}
.questoes{
    margin-bottom: 20px;
}
.container{
    margin-bottom: 70px;
}
.container#qSomos{
    display: grid;
    justify-content: center;
}
#para-esquerda{
    display: flex;
    justify-content: flex-end;
    margin-right: 80px;
}
#footer-imgs{
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
footer{
    margin:auto;
    background-color: #69B66B;
    text-align: center;
    font-size: 0.6em;
    margin-bottom: 0px !important; 
}
#penosaco{
    margin-right: 128px;
    margin-bottom: 40px;
}
#titulo{
    margin-bottom: 80px;
}
#nav{
    font-family: "Patua One";
    background-color: #f2f2f2 !important;
}
